@import "../../common/styles/sass/variables";
@import "../../common/styles/sass/mixins";

.mainContainer {
  @include flex(row, center, center, nowrap);
  min-height: 100vh;
  background-color: rgba(255, 255, 255, 0.85);

  .projectsContainer {
    @include flex(row, center, space-between, wrap);
    z-index: 3;
    height: 90%;
    width: 70%;

    .projects {
      @include flex(row, space-between, inherint, wrap);
      width: 100%;
      height: 80%;
      @media screen and (max-width: 917px) {
        justify-content: center;
      }
    }
  }
}
