.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 200px;
    min-height: 200px;
    border: 1px solid #e5e9ed;
    background-color: rgba(255, 255, 255, 0.85);
    margin: 10px;
    transition-duration: 1s;
}
.container:hover {
    background-color: #dbdde0;
    border: 1px solid #7c7878;
}

.iconBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-size: cover;
    width: 100%;
}

.icon {
    height: 50px;
    width: 50px;
    margin: 10px;
}