@import "../../../common/styles/sass/variables";
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 200px;
  min-height: 200px;
  border: $border;
  background-color: $bcgFirst;
  margin: 10px;
  transition-duration: 1s;

  &:hover {
    background-color: $bcgSecond;
    border: $borderHover;
  }

  .iconBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-size: cover;
    width: 100%;

    .icon {
      height: 50px;
      width: 50px;
      margin: 10px;
    }
  }
}