.button {
    text-decoration: none;
    display: inline-block;
    padding: 20px;
    text-transform: uppercase;
    font-size: 20px;
    font-family: poppins, sans-serif;
    font-style: normal;
    position: relative;
    background-color: #333333;
    border: #333333;
    box-shadow: #333333;
    color: #ffffff;
    transition-duration: 1s;
    min-width: 40%;
}

.button:hover {
    transition-duration: 0.5s;
    box-shadow: black;
    background-color: black;
}

.button_1, button {
    width: 20%;
    height: 15%;
}
