@import "../../common/styles/sass/variables";
@import "../../common/styles/sass/mixins";

.mainBlock {
  @include flex(row, center, center, wrap);
  min-height: 100vh;
  background-color: $bcgFirst;

  .greetingBlock {
    @include flex(row, space-around, center, wrap);
    width: 70%;
    min-height: 60vh;
    border: $border;

    .greetingText {
      @include flex(column, space-around, flex-start, wrap)
    }

    .avatar {
      display: flex;
      height: 300px;
      justify-content: space-around;
      margin: 10px;
    }
  }
}