.mainBlock {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-wrap: wrap;
    background-color: #ffffff;
}

.greetingBlock{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 70%;
    height: 60vh;
    border: 1px solid;
}
.greetingText{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.avatar{
    display: flex;
    height: 230px;
    justify-content: space-around;
}