.mainBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-wrap: wrap;
  background-color: #fff;

  .greetingBlock {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 70%;
    min-height: 60vh;
    border: 1px solid;

    .greetingText {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-around;
    }

    .avatar {
      display: flex;
      height: 300px;
      justify-content: space-around;
      margin: 10px;
    }
  }
}