@import "../../common/styles/sass/variables";
@import "../../common/styles/sass/mixins";

.skillsBlock {
  @include flex(row, center, center, nowrap);
  min-height: 100vh;
  background-color: $bcgSecond;

  .skills {
    @include flex(column, space-around, center, wrap);
    width: 80%;

    .skillsItems {
      @include flex(row, space-around, center, wrap);
      z-index: 3;
      width: 100%;
    }
  }
}