.skillsBlock {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f2f2f5;
}

.skills {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    border: 1px solid #191954;
}

.skillsItems {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;

}


