.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100%;
    background-color: #dbdde0;
    position: fixed;
}

.nav {
    display: flex;
    justify-content: space-around;
    width: 300px;
}

a, a:focus, a:active  {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: white;
}