@import "../../common/styles/sass/variables";
@import "../../common/styles/sass/mixins";

.header {
  @include flex(row, center, center, nowrap);
  z-index: 3;
  height: 40px;
  width: 100%;
  background-color: $bcgSecond;
  position: fixed;

  .nav {
    display: flex;
    justify-content: space-around;
    width: 300px;
  }
}