.container {
    display: flex;
    height: 30vh;
    align-items: center;
    justify-content: center;
    background-color: #bd98e0;
}

.remoteBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid black;
    width: 80%;
    height: 60%;
}
