.container {
    display: flex;
    min-height: 30vh;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f5;
}

.remoteBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid #7c7878;
    width: 80%;
    min-height: 25vh;
}
