@import "../../common/styles/sass/variables";
@import "../../common/styles/sass/mixins";

.container {
  @include flex(row, center, center, nowrap);
  min-height: 30vh;
  background-color: $bcgSecond;

  .remoteBlock {
    @include flex(column, space-around, center, wrap);
    border: $borderHover;
    width: 80%;
    min-height: 25vh;
  }
}