@import "../../common/styles/sass/variables";
.container {
  display: flex;
  min-height: 30vh;
  align-items: center;
  justify-content: center;
  background-color: $bcgSecond;

  .remoteBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border: $borderHover;
    width: 80%;
    min-height: 25vh;
  }
}