@import "../../common/styles/sass/variables";
@import "../../common/styles/sass/mixins";

.container {
  @include flex(row, center, center, nowrap);
  min-height: 20vh;
  background-color: $bcgSecond;

  .footerBlock {
    @include flex(column, space-between, center, nowrap);
    width: 70%;
    height: 70%;

    .iconsBlock {
      @include flex(row, space-around, center, wrap);
      min-width: 30%;

      .icon {
        height: 50px;
        width: 50px;
        margin: 15px;
      }
    }
  }
}
