.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    background-color: #bd98e0;
}

.footerBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    width: 70%;
    height: 70%;
}

.iconsBlock {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 50%;
    border: 1px solid black;
}

.icon {
    height: 50px;
    width: 50px;
}