@import "../../../common/styles/sass/variables";
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 300px;
  min-height: 70vh;
  background-color: $bcgSecond;
  border: $border;
  margin: 10px;

  &:hover {
    border: $borderHover;
  }

  .viewProject {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 50%;
    transition-duration: 1s;
  }

  .description {
    margin: 10px;
  }
}
