.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 300px;
    min-height: 70vh;
    background-color: #f2f2f5;
    border: 1px solid #e5e9ed;
    margin: 10px;
}

.container:hover {
    border: 1px solid #7c7878;
}

.viewProject {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: white;
    background-size: cover;
    width: 100%;
    height: 50%;
    transition-duration: 1s;
}

.description {
    margin: 10px;
}