@import "../../common/styles/sass/variables";
@import "../../common/styles/sass/mixins";

.container {
  @include flex(row, center, center, nowrap);
  min-height: 100vh;
  background-color: $bcgFirst;

  .contactsBlock {
    @include flex(column, space-around, center, wrap);
    border: $border;
    width: 70%;
    min-height: 80vh;
    margin: 30px;

    .personalBlock {
      display: flex;
      width: 100%;
      justify-content: space-around;
      flex-wrap: wrap;

      .personalContacts {
        @include flex(column, center, center, nowrap);
        border: $border;
        height: 150px;
        width: 250px;
        transition-duration: 1s;
        margin: 10px;

        &:hover {
          background-color: $bcgSecond;
          border: $borderHover;
        }
      }

      .icon {
        height: 50px;
        width: 50px;
        margin: 10px;
      }
    }

    .formBlock {
      @include flex(column, space-between, center, nowrap);
      min-height: 30vh;
      min-width: 50%;

      .input {
        padding: 0 20px;
        height: 50px
      }

      .textarea {
        height: 50%;
        width: 100%;
        padding: 12px 20px;
      }

      & input, & textarea {
        width: 100%;
        border: $border;
        font-size: 15px;
        font-weight: 400;
        background-color: transparent;
        font-family: poppins, sans-serif;
        font-style: normal;
        margin: 10px;
      }
    }
  }
}